.fl-j-sb {
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: column;
  padding-top: var(--space-3);
}
@media (min-width: 992px) {
  .navbar {
    flex-direction: row;
  }
}
.navbar.show .navbar-menus-list {
  display: block;
}
.navbar.show .navbar-toggler-icon > span:nth-child(2) {
  opacity: 0;
}
.navbar.show .navbar-toggler-icon > span:first-child {
  transform: rotate(45deg);
}
.navbar.show .navbar-toggler-icon > span:last-child {
  transform: rotate(-45deg);
}
.navbar-toggler-icon {
  position: relative;
  margin-right: 0.937rem;
}
.navbar-toggler-icon > span {
  display: block;
  width: 1.625rem;
  height: 0.187rem;
  background-color: #000;
  transition: all 300ms ease-in-out;
  transform-origin: 2px 2px;
}
.navbar-toggler-icon > span:not(:last-child) {
  margin-bottom: 5px;
}

.navbar-menus-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  display: none;
}
@media (min-width: 992px) {
  .navbar-menus-list {
    flex-direction: row;
    display: flex;
  }
}

.navbar-menu-item {
  padding: var(--space-4);
  cursor: pointer;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--space-3);
  padding-right: var(--space-3);
}
@media (min-width: 992px) {
  .logo-container {
    justify-content: center;
  }
}
.logo-container .logo-img {
  height: 4rem;
}
.logo-container .navbar-toggler {
  display: block;
}
@media (min-width: 992px) {
  .logo-container .navbar-toggler {
    display: none;
  }
}

:root {
  --large-screen-width:992px;
}

:root {
  --navbar-menu-item-padding:1.5rem;
}

:root {
  --space-unit: 1rem;
  --space-1: calc(0.25 * var(--space-unit));
  --space-2: calc(0.5 * var(--space-unit));
  --space-3: calc(0.75 * var(--space-unit));
  --space-4: calc(1.25 * var(--space-unit));
  --space-5: calc(2 * var(--space-unit));
  --space-6: calc(3.25 * var(--space-unit));
  --space-7: calc(5.25 * var(--space-unit));
}

.bs-1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (min-width: 992px) {
  .ml-lg-auto {
    margin-left: auto;
  }
}

.w-100p {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.navbar-no-toggle {
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--space-3);
}
@media (min-width: 992px) {
  .navbar-no-toggle {
    flex-direction: row;
  }
}
.navbar-no-toggle-menus-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
@media (min-width: 992px) {
  .navbar-no-toggle-menus-list {
    flex-direction: row;
    display: flex;
  }
}
.navbar-no-toggle-menu-item {
  padding: var(--space-4);
  cursor: pointer;
}
.navbar-no-toggle-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--space-3);
  padding-right: var(--space-3);
  width: 100%;
}
@media (min-width: 992px) {
  .navbar-no-toggle-logo-container {
    justify-content: center;
    width: auto;
  }
}
.navbar-no-toggle-logo-container .logo-img {
  height: 4rem;
}
.navbar-no-toggle-logo-container .navbar-toggler {
  display: block;
}
@media (min-width: 992px) {
  .navbar-no-toggle-logo-container .navbar-toggler {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */