$gap-horizontal: 10px;
$gap-vertical: $gap-horizontal;

@mixin grid{
    @supports(grid-area:auto){
        display: grid;
        grid-column-gap:$gap-horizontal;
        $grid-row-gap:$gap-vertical;
    }
}
@mixin gridAuto($min-width){
    @supports(grid-area: auto){
        grid-template-columns: repeat(auto-fit, minmax($min-width, 1fr));
    }
}

.gallery-grid{
    @include grid;
    @include gridAuto(260px);
}

@mixin gridAutoDynamic($no-of-cols){
    @supports(grid-area: auto){
        grid-template-columns: repeat($no-of-cols, auto);
    }
}

.grid-3-col{
    @include grid;
    @include gridAutoDynamic(3);
}
